@charset "UTF-8";

body {
    background-color:#b8dbdb;
    font-family: Arial, Helvetica, sans-serif;

}

h1#princípal {
    text-align: center;
    background-color: #FF5F5D;
    color: aliceblue;

}

h1 {
    color:#1B7F79;
}

h2 {
    color:#00CCBF;
}

.basico {
    color:#cc5200;
}

.intermediario {
    color:#d3d47e;
}

.avancado {
    color:#2733d6;
}